*{
    margin: 0; }
    body {
    background-color: #343434; 
    color: white; }
    header {
    background-color: #222222; 
    color: white; }
    #header {
    background-color: #222222; 
    color: white;}
